@import "typography";

body {
  @include core-19;
}

.lede {
  font-size: 100%;
  margin-bottom: 2em;

  @include media(desktop) {
    width: 66%;
  }
}

.break-link {
  display: inline-block;
  word-break: break-all;
}
