{% extends "_base_page.html" %}

{% block pageTitle %}
  Change password – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({"items": [
    {
      "text": "Digital Marketplace",
      "href": "/",
    },
    {
      "text": "Your account",
      "href": dashboard_url,
    },
    {
      "text": "Change your password",
    },
  ]}) }}
{% endblock %}

{% block mainContent %}

  <h1 class="govuk-heading-xl">Change your password</h1>

  <form action="{{ url_for('.change_password') }}" method="POST" novalidate>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ form.hidden_tag() }}

        {{ govukInput({
          "label": {
            "text": form.old_password.label.text,
          },
          "errorMessage": errors.old_password.errorMessage,
          "id": "input-old_password",
          "type": "password",
          "name": "old_password",
          "value": form.old_password.data,
          "attributes": {
            "autocomplete": "current-password",
          },
        }) }}

        {{ govukInput({
          "label": {
            "text": form.password.label.text,
          },
          "errorMessage": errors.password.errorMessage,
          "id": "input-password",
          "type": "password",
          "name": "password",
          "value": form.password.data,
          "attributes": {
            "autocomplete": "new-password",
          },
        }) }}


        {{ govukInput({
          "label": {
            "text": form.confirm_password.label.text,
          },
          "errorMessage": errors.confirm_password.errorMessage,
          "id": "input-confirm_password",
          "type": "password",
          "name": "confirm_password",
          "value": form.confirm_password.data,
          "attributes": {
            "autocomplete": "new-password",
          },
        }) }}

        {{ govukButton({
          "text": "Save changes"
        }) }}
      </div>
    </div>
  </form>
  <p class="govuk-body">
    <a class="govuk-link" href="{{ dashboard_url }}">Return to your account</a>
  </p>
{% endblock %}
