{% extends "_base_page.html" %}

{% block pageTitle %}
  Change password – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({"items": [
    {
      "text": "Digital Marketplace",
      "href": "/",
    },
    {
      "text": "Your account",
      "href": dashboard_url,
    },
    {
      "text": "Change your password",
    },
  ]}) }}
{% endblock %}

{% block mainContent %}

  <h1 class="govuk-heading-xl">Change your password</h1>

  <form autocomplete="off" action="{{ url_for('.change_password') }}" method="POST">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ form.hidden_tag() }}

        {% with question = form.old_password.label,
                name = "old_password",
                error = errors.get('old_password', {}).get('message'),
                value = form.old_password.data,
                type = "password",
                autocomplete = "off"
        %}
          {% include "toolkit/forms/textbox.html" %}
        {% endwith %}

        {% with question = form.password.label,
                name = "password",
                error = errors.get('password', {}).get('message'),
                hint = form.password.hint,
                value = form.password.data,
                type = "password",
                autocomplete = "off"
        %}
          {% include "toolkit/forms/textbox.html" %}
        {% endwith %}

        {% with question = form.confirm_password.label,
                name = "confirm_password",
                error = errors.get('confirm_password', {}).get('message'),
                value = form.confirm_password.data,
                type = "password",
                autocomplete = "off"
        %}
          {% include "toolkit/forms/textbox.html" %}
        {% endwith %}

        {{ govukButton({
          "text": "Save changes"
        }) }}
      </div>
    </div>
  </form>
{%
  with
  url = dashboard_url,
  text = "Return to your account"
%}
  {% include "toolkit/secondary-action-link.html" %}
{% endwith %}
{% endblock %}
