{% extends "_base_page.html" %}

{% block pageTitle %}
  Create account – Digital Marketplace
{% endblock %}

{% block mainContent %}
  {% set headings = {
      'buyer': 'Create a new Digital Marketplace account',
      'supplier': "Add your name and create a password"
    }
  %}

  <span class="govuk-caption-l">{{ email_address }}</span>
  <h1 class="govuk-heading-l">{{ headings[role] }}</h1>

  <form action="{{ url_for('.submit_create_user', encoded_token=token) }}" method="POST" id="createUserForm" novalidate>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ form.hidden_tag() }}

        {{ govukInput({
          "label": {
            "text": form.name.label.text,
          },
          "errorMessage": errors.name.errorMessage,
          "id": "input-name",
          "name": "name",
          "value": form.name.data,
          "attributes": {
            "autocomplete": "name",
            "spellcheck": "false",
          },
        }) }}


        {% if role == 'buyer' %}
          {{ govukInput({
            "label": {
              "text": form.phone_number.label.text,
            },
            "hint": {
              "text": form.phone_number.hint,
            },
            "errorMessage": errors.phone_number.errorMessage,
            "id": "input-phone_number",
            "name": "phone_number",
            "value": form.phone_number.data,
            "attributes": {
              "autocomplete": "tel",
            },
          }) }}
        {% endif %}

        {{ govukInput({
          "label": {
            "text": form.password.label.text,
          },
          "hint": {
            "text": form.password.hint,
          },
          "errorMessage": errors.password.errorMessage,
          "id": "input-password",
          "type": "password",
          "name": "password",
          "value": form.password.data,
          "attributes": {
            "autocomplete": "new-password",
          },
        }) }}

        {{ govukButton({
          "text": "Create account"
        }) }}
      </div>
    </div>
  </form>
{% endblock %}
