{% extends "_base_page.html" %}

{% block pageTitle %}
  Log in – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({"items": [
    {
      "text": "Digital Marketplace",
      "href": "/",
    },
    {
      "text": "Login",
    },
  ]}) }}
{% endblock %}

{% block mainContent %}
  <h1 class="govuk-heading-xl">Log in to the Digital Marketplace</h1>

  <form action="{{ url_for('.process_login', next=next) }}" method="POST" novalidate>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ form.hidden_tag() }}

        {{ govukInput({
          "label": {
            "text": form.email_address.label.text,
          },
          "hint": {
            "text": form.email_address.hint,
          },
          "errorMessage": errors.email_address.errorMessage,
          "id": "input-email_address",
          "type": "email",
          "name": "email_address",
          "value": form.email_address.data,
          "attributes": {
            "autocomplete": "username",
            "spellcheck": "false",
          },
        }) }}

        {{ govukInput({
          "label": {
            "text": form.password.label.text,
          },
          "errorMessage": errors.password.errorMessage,
          "id": "input-password",
          "type": "password",
          "name": "password",
          "value": form.password.data,
          "attributes": {
            "autocomplete": "current-password",
          },
        }) }}

        <p class="govuk-body">
          <a class="govuk-link" href="{{ url_for('.request_password_reset') }}">
            Forgotten password
          </a>
        </p>

        {{ govukButton({
          "text": "Log in"
        }) }}

        <p class="govuk-body-l">
          <a class="govuk-link" href="{{ url_for('external.create_buyer_account') }}">
            Create a buyer account
          </a>
        </p>

      </div>
    </div>
  </form>
{% endblock %}
