{% extends "_base_page.html" %}

{% block pageTitle %}
  Log in – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({"items": [
    {
      "text": "Digital Marketplace",
      "href": "/",
    },
    {
      "text": "Login",
    },
  ]}) }}
{% endblock %}

{% block mainContent %}
  <h1 class="govuk-heading-xl">Log in to the Digital Marketplace</h1>

  <form autocomplete="off" action="{{ url_for('.process_login', next=next) }}" method="POST">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ form.hidden_tag() }}

        {{ govukInput({
          "label": {
            "text": form.email_address.label.text,
          },
          "hint": {
            "text": form.email_address.hint,
          },
          "errorMessage": errors.email_address.errorMessage,
          "id": "input-email_address",
          "type": "email",
          "name": "email_address",
          "value": form.email_address.data,
          "attributes": {
            "autocomplete": "off",
            "spellcheck": "false",
          },
        }) }}

        {{ govukInput({
          "label": {
            "text": form.password.label.text,
          },
          "errorMessage": errors.password.errorMessage,
          "id": "input-password",
          "type": "password",
          "name": "password",
          "value": form.password.data,
          "attributes": {
            "autocomplete": "off",
          },
        }) }}


        <a class="govuk-link govuk-!-margin-bottom-5 govuk-!-display-block" href="{{ url_for('.request_password_reset') }}">
          Forgotten password
        </a>

        {{ govukButton({
          "text": "Log in"
        }) }}

        <a class="govuk-link govuk-!-margin-top-7 govuk-!-font-size-24 govuk-!-display-block" href="{{ url_for('external.create_buyer_account') }}">
          Create a buyer account
        </a>
      </div>
    </div>
  </form>
{% endblock %}
