{% extends "_base_page.html" %}

{% block page_title %}Reset password – Digital Marketplace{% endblock %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": "/",
        "label": "Digital Marketplace"
      },
      {
        "link": "/user/login",
        "label": "Login"
      },
      {
        "label": "Reset password"
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}

{% with lede = "There was a problem with the details you gave for:" %}
  {% include 'toolkit/forms/validation.html' %}
{% endwith %}

<header class="page-heading">
    <h1>Reset password</h1>
</header>
<p class="lede">
    Enter your email address and we'll send you a link so you can reset your
    password. Password reset links are only valid for 24 hours.
</p>

<form autocomplete="off" action="{{ url_for('.request_password_reset') }}" method="POST" id="resetPasswordForm">
    <div class="grid-row">
        <div class="column-two-thirds">

            {{ form.hidden_tag() }}

            {% with question = form.email_address.label,
                    name = "email_address",
                    error = errors.get('email_address', {}).get('message'),
                    hint = form.email_address.hint,
                    value = form.email_address.data,
                    autocomplete = "off"
            %}
              {% include "toolkit/forms/textbox.html" %}
            {% endwith %}

            {%
              with
              type = "save",
              label = "Send reset email"
            %}
              {% include "toolkit/button.html" %}
            {% endwith %}
        </div>
    </div>
</form>
{% endblock %}
