{% extends "_base_page.html" %}

{% block pageTitle %}
  Reset password – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({"items": [
    {
      "text": "Digital Marketplace",
      "href": "/",
    },
    {
      "text": "Login",
      "href": "/user/login",
    },
    {
      "text": "Reset password",
    },
  ]}) }}
{% endblock %}

{% block mainContent %}
  <h1 class="govuk-heading-xl">Reset password</h1>

  <p class="govuk-body-l">
    Enter your email address and we'll send you a link so you can reset your
    password. Password reset links are only valid for 24 hours.
  </p>

  <form autocomplete="off" action="{{ url_for('.request_password_reset') }}" method="POST" id="resetPasswordForm">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ form.hidden_tag() }}

        {{ govukInput({
          "label": {
            "text": form.email_address.label.text,
          },
          "hint": {
            "text": form.email_address.hint,
          },
          "errorMessage": errors.email_address.errorMessage,
          "id": "input-email_address",
          "type": "email",
          "name": "email_address",
          "value": form.email_address.data,
          "attributes": {
            "autocomplete": "off",
            "spellcheck": "false",
          },
        }) }}

        {{ govukButton({
          "text": "Send reset email"
        }) }}
      </div>
    </div>
  </form>
{% endblock %}
