{% extends "_base_page.html" %}

{% block pageTitle %}
  Reset password – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({"items": [
    {
      "text": "Digital Marketplace",
      "href": "/",
    },
    {
      "text": "Login",
      "href": "/user/login",
    },
    {
      "text": "Reset password",
    },
  ]}) }}
{% endblock %}

{% block mainContent %}

  {% with lede = "There was a problem with the details you gave for:" %}
    {% include 'toolkit/forms/validation.html' %}
  {% endwith %}

  <h1 class="govuk-heading-xl">Reset password</h1>

  <p class="govuk-body-l">
    Enter your email address and we'll send you a link so you can reset your
    password. Password reset links are only valid for 24 hours.
  </p>

  <form autocomplete="off" action="{{ url_for('.request_password_reset') }}" method="POST" id="resetPasswordForm">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ form.hidden_tag() }}

        {% with question = form.email_address.label,
                name = "email_address",
                error = errors.get('email_address', {}).get('message'),
                hint = form.email_address.hint,
                value = form.email_address.data,
                autocomplete = "off"
        %}
          {% include "toolkit/forms/textbox.html" %}
        {% endwith %}

        {{ govukButton({
          "text": "Send reset email"
        }) }}
      </div>
    </div>
  </form>
{% endblock %}
