{% extends "_base_page.html" %}

{% block pageTitle %}
  Reset password – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({"items": [
    {
      "text": "Digital Marketplace",
      "href": "/",
    },
    {
      "text": "Reset password",
    },
  ]}) }}
{% endblock %}

{% block mainContent %}

  <h1 class="govuk-heading-xl">Reset password</h1>

  <p class="govuk-body-l">
    Reset password for {{ email_address }}
  </p>

  <form autocomplete="off" action="{{ url_for('.update_password', token=token) }}" method="POST">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ form.hidden_tag() }}

        {% with question = form.password.label,
                name = "password",
                error = errors.get('password', {}).get('message'),
                hint = form.password.hint,
                value = form.password.data,
                type = "password"
        %}
          {% include "toolkit/forms/textbox.html" %}
        {% endwith %}

        {% with question = form.confirm_password.label,
                name = "confirm_password",
                error = errors.get('confirm_password', {}).get('message'),
                value = form.confirm_password.data,
                type = "password"
        %}
          {% include "toolkit/forms/textbox.html" %}
        {% endwith %}

        {{ govukButton({
          "text": "Reset password"
        }) }}
      </div>
    </div>
  </form>
{% endblock %}
