{% extends "_base_page.html" %}

{% block pageTitle %}
  Reset password – Digital Marketplace
{% endblock %}

{% block breadcrumb %}
  {{ govukBreadcrumbs({"items": [
    {
      "text": "Digital Marketplace",
      "href": "/",
    },
    {
      "text": "Reset password",
    },
  ]}) }}
{% endblock %}

{% block mainContent %}

  <h1 class="govuk-heading-xl">Reset password</h1>

  <p class="govuk-body-l">
    Reset password for {{ email_address }}
  </p>

  <form action="{{ url_for('.update_password', token=token) }}" method="POST" novalidate>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ form.hidden_tag() }}

        {{ govukInput({
          "label": {
            "text": form.password.label.text,
          },
          "hint": {
            "text": form.password.hint,
          },
          "errorMessage": errors.password.errorMessage,
          "id": "input-password",
          "type": "password",
          "name": "password",
          "value": form.password.data,
          "attributes": {
            "autocomplete": "new-password",
          },
        }) }}

        {{ govukInput({
          "label": {
            "text": form.confirm_password.label.text,
          },
          "errorMessage": errors.confirm_password.errorMessage,
          "id": "input-confirm_password",
          "type": "password",
          "name": "confirm_password",
          "value": form.confirm_password.data,
          "attributes": {
            "autocomplete": "new-password",
          },
        }) }}

        {{ govukButton({
          "text": "Reset password"
        }) }}
      </div>
    </div>
  </form>
{% endblock %}
