Flask==1.1.1
Flask-Login>=0.4.1,<0.5.0
Flask-WTF>=0.14.2,<0.15.0

git+https://github.com/alphagov/digitalmarketplace-utils.git@51.3.0#egg=digitalmarketplace-utils
git+https://github.com/alphagov/digitalmarketplace-content-loader.git@7.1.1#egg=digitalmarketplace-content-loader
git+https://github.com/alphagov/digitalmarketplace-apiclient.git@21.4.1#egg=digitalmarketplace-apiclient
git+https://github.com/alphagov/govuk-frontend-jinja.git@v0.5.1-alpha#egg=govuk-frontend-jinja
