-c requirements.txt

coverage
coveralls
cssselect
flake8
freezegun
lxml
mock
pytest
pytest-cov
python-dotenv
watchdog

git+https://github.com/lfdebrux/pip-tools.git@4.4.2-lock-alpha#egg=pip-tools

git+https://github.com/alphagov/digitalmarketplace-test-utils.git@2.6.1#egg=digitalmarketplace-test-utils
