{% extends "_base_page.html" %}

{% block page_title %}User reserch notification – Digital Marketplace{% endblock %}

{% block breadcrumb %}
  {%
    with items = [
      {
        "link": "/",
        "label": "Digital Marketplace"
      },
      {
        "link": dashboard_url,
        "label": "Your account"
      }
    ]
  %}
    {% include "toolkit/breadcrumb.html" %}
  {% endwith %}
{% endblock %}

{% block main_content %}

<div class="grid-row notification-user-research">

  {% if errors %}
    {% with errors = errors.values() %}
      {% include 'toolkit/forms/validation.html' %}
    {% endwith %}
  {% endif %}

  <div class="column-two-thirds">
    {% with heading = "{}".format(
        "Join the user research mailing list" 
          if not form.user_research_opt_in.data
          else "Unsubscribe from the user research mailing list"
        ) %}
      {% include "toolkit/page-heading.html" %}
    {% endwith %}

    {% if not form.user_research_opt_in.data %}
      <p class="text">
        We need to talk to people who use the Digital Marketplace to help us make our service better - user research is how we do this.
      </p>
      <div class="text">
        When you join our user research mailing list you:
        <ul class="list list-bullet">
          <li>will only be contacted to be invited to take part in user research</li>
          <li>don’t have to agree to take part in research</li>
          <li>can unsubscribe at any time</li>
        </ul>
      </div>
    {% else %}
      <p class="text">
         You can join again at any time.
      </p>
    {% endif %}

    <form action="{{ url_for('main.user_research_consent') }}" method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      {%
        with
        type = "checkbox",
        name = "user_research_opt_in",
        value = [form.user_research_opt_in.data or None],
        options = [
          {
            "label": form.user_research_opt_in.label.text,
            "value": form.user_research_opt_in.data,
          }
        ],
        error = errors.get('user_research_opt_in', {}).get('message', None)
      %}
        {% include "toolkit/forms/selection-buttons.html" %}
      {% endwith %}

      {% with 
        label="Save changes", 
        type="save", 
        name="save_changes",
        analytics = "tracking",
        analytics_category = "user_research",
        analytics_action = "subscribe" if not form.user_research_opt_in.data else "unsubscribe"
      %}
        {% include "toolkit/button.html" %}
      {% endwith %}
    </form>

    {%
      with
      url = dashboard_url,
      text = "Return to your account"
    %}
      {% include "toolkit/secondary-action-link.html" %}
    {% endwith %}
  </div>

</div>


{% endblock %}
