{% extends "govuk-frontend/template.html" %}

// Insert line for each component module import

{% from "govuk-frontend/components/breadcrumbs/macro.html" import govukBreadcrumbs %}
{% from "govuk-frontend/components/button/macro.html" import govukButton %}
{% from "govuk-frontend/components/error-summary/macro.html" import govukErrorSummary %}
{% from "govuk-frontend/components/input/macro.html" import govukInput %}
{% from "govuk-frontend/components/phase-banner/macro.html" import govukPhaseBanner %}
{% from "govuk-frontend/components/radios/macro.html" import govukRadios %}


{# Import DM Components #}
{% from "digitalmarketplace/components/cookie-banner/macro.njk" import dmCookieBanner %}
{% from "digitalmarketplace/components/header/macro.njk" import dmHeader %}
{% from "digitalmarketplace/components/footer/macro.njk" import dmFooter %}
{% from "digitalmarketplace/components/alert/macro.njk" import dmAlert %}

{% set assetPath = '/user/static' %}

{% block head %}
  {% include "layouts/_custom_dimensions.html" %}
  {% include "layouts/_site_verification.html" %}
  <link type="text/css" rel="stylesheet" href="{{ asset_fingerprinter.get_url('stylesheets/application.css') }}" />
  {% block pageStyles %}{% endblock%}
{% endblock %}

{% block header %}
  {% block cookieBanner %}
    {{ dmCookieBanner({
      'cookieSettingsUrl': url_for('main.cookie_settings'),
      'cookieInfoUrl': url_for('external.cookies'),
    }) }}
  {% endblock %}
  {{ dmHeader({
    "role": current_user.role | default(None)
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    "tag": {
      "text": "beta"
    },
    "html": 'Help us improve the Digital Marketplace - <a class="govuk-link" href="'  + url_for('external.help') + '">send your feedback</a>'
  }) }}
  {% block breadcrumb %}{% endblock%}
{% endblock %}


{% block content %}
  {% block flashMessages %}
    {% with
       messages = get_flashed_messages(with_categories=True),
       titles = {"error": "There is a problem"}
    %}
      {% for category, message in messages %}
        {{ dmAlert({
          "titleHtml": titles.get(category) or message,
          "html": message if category in titles else None,
          "type": category,
        }) }}
      {% endfor %}
    {% endwith %}
  {% endblock flashMessages %}
  {% block errorSummary %}
    {% if errors %}
      {{ govukErrorSummary({
      "titleText": "There is a problem",
      "errorList": errors.values(),
    }) }}
    {% endif %}
  {% endblock %}
  {% block mainContent %}{% endblock %}
{% endblock %}

{% block footer %}
  {{ dmFooter({}) }}
{% endblock %}

{% block bodyEnd %}
  <script src="{{ asset_fingerprinter.get_url('javascripts/application.js') }}"></script>
  {% block pageScripts %}{% endblock%}
{% endblock %}
